.floatright {
  float: right;
  color: white;
}

.floatleft{
  float: left;
}
button {
  background: rgba(255, 255, 255, 0);
  color: black;
  border: none;
  border-radius: 5px;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 3px;
}
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}
.info-msg {
  color: #059;
  background-color: #BEF;
}
.success-msg {
  color: #270;
  background-color: #DFF2BF;
}
.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}
.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
  border-radius: 10px;
  width: 300px;
  position:fixed;
  right: 10px;
  bottom: 50vh;
  z-index: 5;
  display: none;
}

html {
  font-family: 'Anton', sans-serif;
 background-image: url(../images/1-dark-nologo.png);
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-size: cover;
 overflow-x: none;
 -webkit-transition: width 0.15s ease-in-out;
	transition: width 0.15s ease-in-out;
 
}
p {
  font-family: 'Anton', sans-serif;
}
.ri-computer-line:before {
  padding-left: 20px;
}
.ri-device-line:before {
  padding-left: 20px;
}
.ri-checkbox-circle-fill:before{
  padding-left: 20px;

}
.ri-close-circle-line:before{
  padding-left: 20px;

}
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    rgb(86 54 28) 0%,
    rgb(86 54 28) 29%,
    #ffffff 67%,
    rgb(86 54 28) 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 9s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}



.infomaindetals{
  font-size: 10vw;
  padding-right:30px;
  text-align: right;
  background-color: #000000;
  color: #ffffff;
}

.animate-charcter {
  font-size: 230px;
}
@media only screen and (max-width: 875px) {
  .animate-charcter{
    
    font-size: 15vw;
  }
}
.infomain {
text-align: left;
padding-top: 40px;
padding-left:30px;
}
.footer {
  text-align: left;
  color: #ffffff;
  background-color: #000000; /* Black background */
  font-family:  sans-serif;
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 40px;
}


h2 {
    font-size: 10px;
    margin: 7vh 14px 0px 14px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;    
}
.textjs {
  font-family: 'Anton', sans-serif;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
}

a:active {
  color: grey;
  background-color: transparent;
}
video {
  object-fit: cover;
  width: 100%;
  height: 98vh;
  position: relative;
  top: 0;
  left: 0;
}



.event1{
background-color: rgba(222, 222, 222, 0.7);
border-radius: 7px;
height: auto;
margin: 30px;
padding: 30px;
margin-left: auto;
min-width: 432px;

}
.event2{
  background-color: rgba(222, 222, 222, 0.7);
  border-radius: 20px;
  height: 600px;
  margin: 30px;
  width:40vw;
  padding: 30px;
 
    margin-right: auto;
}

.twitterdiv{
  margin-right: 30vw;
  margin-left: 30vw;
  
}
/*775px*/
@media only screen and (max-width: 775px) {
  .twitterdiv{
      display: none;
  }
}
ul {
  list-style-type: none;
  margin: 0;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 30px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.center {
  display: block;
  margin-right: auto;
  width: 50vw;
  max-width: 500px;
  height: auto;
  margin-left: 50px;
}
@media (max-width: 480px) {}

@media (max-width: 768px) {}

@media (min-width: 768px) and (max-width: 980px){}

@media (min-width: 1200px) {}

@font-face {
  font-family: "Uni Sans Heavy CAPS";
  src: url(https://cdn.jsdelivr.net/gh/JoshMerlino/photoncss/fonts/UniSansHeavyCaps/3029259ef4f4389d799fe57da6f29158.woff2) format("woff2");
}

@font-face {
  font-family: 'Google Sans';
  src: url(https://cdn.jsdelivr.net/gh/JoshMerlino/photoncss/fonts/Google_Sans/pxicypQkot1TnFhsFMOfGShd5PSbS2lBkm8.woff2) format('woff2');
}

.DiscordInvite-badge::before {
position: absolute;
height: 8px;
left: -12px;
width: 8px;
border-radius: 50%;
content: "";
background-color: #747f8d;
}

.DiscordInvite-badge:first-child::before {
background-color: #3ba55c;
}

@media only screen and (max-width: 600px) {
.DiscordInvite-root {
    width: 354px!important;
}
.DiscordInvite-content {
    flex: none;
    width: calc(100% - 64px);
}
.DiscordInvite-joinLink {
    margin: 0;
    margin-top: 62px;
    margin-left: calc(-100% - 2px)!important;
    width: 100%;
    text-align: center;
    display: block!important;
}
}
h3 {
  padding-top: 45px
}
/*Start Switch code*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(86 54 28);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(86 54 28);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.card:hover {
  transform: scale(1.3); 
}
body {
  text-align: center;
}
img {
  height: auto;max-height: 990px;width: 145px;border: 0;-ms-interpolation-mode: bicubic;vertical-align: middle;border-radius: 25px;max-height: 145px;max-width: 145px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.1s;
  width: 158px;
  background-color: #ffffff83;
  
}
.discordevnt1{
  height:340px;
  background-color: rgb(47, 49, 54);
  width: 432px;
  border-radius: 4px;
  margin: auto;
  text-align: left; 
}
.eventimg {
  border-radius: 0%;
  height: auto;
  width: 432px;
  max-width: none;
  max-height: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

}
.p3discord{
  color:rgb(185, 187, 190);
  padding-left:20px;
  font-size: 13px;
}
.codinglounge{
border-radius: 0%;

}
.body {
  text-transform: uppercase;
}
.discbutton {
background-color: rgb(79, 84, 92);
height:40px;
width: 120px;
border-radius: 4px;
margin-left: 60px;
color: #ffffff;
}
.eventimgage {
  padding-left:20px;
  height:20px;
  width: auto;
  padding-top: 2px;
}
.eventprofilebutton{
  position: relative;
  max-height:50px;
  max-width: 50px;margin: 20px;
  border-radius: 15px; background-color: white;
  margin-right:5px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.card {
  transition: transform .2s;
}


.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-top {
  animation: fade-top 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-top {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.middle
		{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

  /* START W3 Dropdown Button CSS because im too lazy to code my own dropdown button*/
.dropbtn {
  background-color:rgb(45, 28, 14);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  z-index: 10;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  background-color: #ffffff00;
  min-width: 158px;
  z-index: 0;
  transition: opacity 2s ease-in;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}
.dropdown-hover {
  transition: 0.3s;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {  color: white;
  background-color: rgb(45, 28, 14);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgb(45, 28, 14);}

.landingbody {
  padding-left:10vw;
}
.two {
  display: none;
}



@media screen and (max-width: 850px) {
      .span2 {
      width: 100%;
      margin-left:0px;
  }
}
@media screen and (max-width: 1100px) {
  
.belownavabovegames{
display: none;
}
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

.notsettingspagesettings{
  position: fixed;
  top:50%;
  right: 25%;
  background-color: #000000;
  background-color:#ffffffc4;
  width: 400px;border-radius: 20px;text-align: left;padding:17px;
  z-index: 9999999999;
  text-transform: uppercase;
  display: none;
  transform: translate(-50%, -50%);
}
/*right here*/
.belownavabovegames {
  height: 200px;
  width: 90vw;
  min-width: 200px;
  position: relative; 
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  
}

.abovethegames {
  background-color: #ffffff83;
  border-radius: 10px;
  width: 32%;
  margin-left:10px;
  max-width: 33.33%;
  max-height: 200px;
  height: 200px;
  float: left;
  font-size: 13px;
  font-family: 'Monument Extended', sans-serif;

}

.gamepagebutton {
  font-family: 'Monument Extended', sans-serif;
  padding: 20px;
  background: rgb(86 54 28);
  color:white;
  margin: 10px;
  font-size: 13px;
  transition: 0.2s;
  width: 250px;
  position: absolute;
  bottom: 0px;
  transform: translateX(-50%);

}
.gamepagebutton:hover {
  /*transform: scale(1.2);*/
  width: 300px;
  background: rgba(86, 54, 28, 0.9);

}

input[type=text] {
	width: 87vw;
	-webkit-transition: width 0.15s ease-in-out;
	transition: width 0.15s ease-in-out;
}
.navh1 {
  color: white;
}
.navh1:hover {
  color: rgb(86, 54, 28);
  transition: 0.2s;
}
@media (max-width: 650px) {
	.imagetext {
    display: none;
  }
}
.heyyyyyy {
  display: none;
  margin: -9px;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 103vw;height: 100.9vh;border: none;
}
.heyyyyyy1 {
  display: none;
  margin: -9px;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 103vw;height: 100.9vh;border: none;
}
.ab-div {display: none;}
.slidercontainer{ 
  margin-top: 100px;
}